{% extends "base.html" %}

{% block title %}Register Page{% endblock %}

{% block content %}
    {{ super() }}
    <form action="{{ url_for('register') }}" method="post">
        <div class="container">

            <input type="text" placeholder="Enter Username" name="uname" required>
            {% if username_error %}
            <p class="error">{{ username_error }}</p>
            {% endif %}
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Register</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="clearbtn">Cancel</button>
        </div>
    </form>
{% endblock %}